.u-background-color-turquoise { background-color: #1abc9c; }
.u-background-color-emerald { background-color: #2ecc71; }
.u-background-color-peter-river { background-color: #3498db; }
.u-background-color-amethyst { background-color: #9b59b6; }
.u-background-color-wet-asphalt { background-color: #34495e; }
.u-background-color-sun-flower { background-color: #f1c40f; }
.u-background-color-carrot { background-color: #e67e22; }
.u-background-color-alizarin { background-color: #e74c3c; }
.u-background-color-clouds { background-color: #ecf0f1; color: #222 !important;}
.u-background-color-concrete { background-color: #95a5a6; }